.layout {
  display: grid;
  grid-template-columns: 200px 1fr;
  grid-template-rows: 100vh;
  height: 100vh;
}
.side-menu {
  grid-column: 1;
  background-color: #1a202c;
  height: 100vh;
  overflow-y: auto;
}
.main-content {
  grid-column: 2;
  background-color: #f7fafc;
  overflow-y: auto;
}
.menu-icon {
  display: none;
  position: absolute;
  top: 35px;
  right: 10px;
  cursor: pointer;
  z-index: 1000;
}

@media screen and (max-width: 768px) {
  .layout {
    display: block;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: relative;
  }

  .side-menu {
    display: none;
    position: absolute;
    width: 200px;
    height: 100vh;
    z-index: 999;
    background-color: #1a202c;
    left: 0;
    top: 0;
  }

  .side-menu.show {
    display: block;
  }

  .menu-icon {
    display: block;
  }

  .main-content {
    width: 100vw;
    height: 100vh;
    overflow-y: auto;
    position: relative;
  }
}
